.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control_label{
    margin-bottom: .6em;
    font-weight: bolder;
}

.form_control_select{
    padding: .7em;
    border-radius: 0;
    border: none;
}

.form.control_select::placeholder{
    color: #7b7b7b;
}