.navbar{
    display: flex;
    justify-content:flex-end;
    background-color: black;
    padding: 1em;
    height: 5em;
    width:100%
    
    

}

.list{
display:flex;
list-style: none;
align-items:center;


}

.item{
    margin-right: 2em;
    
}

.item a{
    color:white;
    text-decoration: none;
    transition: 0.5s;
}

.item a:hover{
    color:red;
    
}



